html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  
  
  //Main Styles //
    body {
    background-color: $primary-color;
    @include boxmodel;
    font-family: $main-font;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: $secondary-font;
   
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  /* make images flexible */
  img {
    max-width: 100%;
  
  }
  
  a {
    color: $accent-color;
  
    &hover {
    text-decoration: none;
  }
  }
  header {
    border-bottom: 10px solid $secondary-color;
  }
  /* I tried nesting these and the page broke. No errors in the compiler. Tried it multiple ways. Removing the mixin didn't help either. Not sure what the issue is/was. */
  nav ul {
    @include boxmodel;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
    nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  
  }
  /* max width on the image in pixels */
    nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
    nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
    nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
    nav a:hover {
    color: $secondary-color;
  }
  

  /* establishes a white background */
  .main-bkgd {
    background: $background-color url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article {
    flex-basis: 73%;
  }
  figure {
    margin: 3rem 0 0 0;
    flex-basis: 25%;
    background-color: $accent-color;
    border-radius: $corners;
  
    img {
    border-top-left-radius: $corners;
    border-top-right-radius: $corners;
  }
  }
  figcaption {
    color: #f2f2f2;
    padding: 0.5rem;
  }
  .button {
    display: inline-block;
    background-color: $accent-color;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid $accent-color;
  
    &hover {
    background-color: #f2f2f2;
    color: $accent-color;
  }
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid $secondary-color;
  
    ul {
    list-style-type: none;
    @include boxmodel;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
    a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  }