/* Varibles */ 
$main-font: "Lato", sans-serif;
$primary-color: #082B59;
$secondary-font: "Poppins", sans-serif;
$secondary-color: #d98555;
$background-color: #ffffff;
$accent-color: #59331d;
$corners: 10px;